<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Server=[Server Name];Database=Northwind;Trusted_Connection=true;"/>-->
    <add name="DefaultConnection" connectionString="Server=MRTBSRNPC\SQLEXPRESS2014;Database=Northwind;Trusted_Connection=true;"/>
  </connectionStrings>
  <appSettings>
    <add key="appTitle" value="SQL Query Runner"/>
    <add key="query" value="SELECT * FROM Customers"/>
    <add key="interval" value="5000" />
    <add key="labelTextPrefix" value="Row(s) affected :"/>
    <add key="visible" value="true"/>
    <add key="resultType" value="table"/>
    <!--"table" : for select query or "count" : for insert, update, delete vs-->

    <!--Notification Options-->
    <add key="showNotification" value="true"/>
    <add key="notifyTipTitle" value="SQL Query Runner" />
    <add key="notifyTipText" value="Row(s) affected : {0}" />

    <!--Mail Options-->
    <add key="sendMail" value="false"/>
    <add key="mailServer" value="smtp.gmail.com"/>
    <add key="mailPort" value="587"/>
    <add key="mailFrom" value="mail@gmail.com"/>
    <add key="mailPassword" value="P@ssw0rd"/>
    <add key="mailTo" value="receiver@gmail.com"/>
    <add key="subject" value="SQL Query Runner Notification"/>
    <add key="mailBody" value="SQL Query Runner ran a query. Query result is below;{br}{br}Date-Time : {datetime}{br}Row(s) affected : {count}{br}{br}{hr}{table}" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>